{
  /*
    true  : Enables NPCs to automatically climax when they reach maximum climax points.
    false : Disables NPCs from automatically climaxing.
  */
  "enableNPCAutoClimax" : true,
  
  /*
    true  : Enables climax sound effect.
    false : Disables them.
  */
  "enableClimaxSounds" : true,
  
  /* This range of numbers will set a base for how quickly an actor gains climax points. */
  "defaultIncrease" : [0.5, 2.0],
  
  /* This number controls how long it takes to drain the actor's climax metter after it climaxes. */
  "defaultDecrease" : 10,
  
  /* This is the starting amount of climax points for an actor. */
  "currentPoints" : 0,
  
  /* This number indicates the minimum amount of climax points possible. */
  "minPoints" : 0,
  
  /* This number indicates the maximum amount of climax points possible. */
  "maxPoints" : 100,
  
  /* This number indicates the minimum amount of climax points that are needed to climax. */
  "threshold" : 50,
  
  /* An array of sounds to audibly indicate when an actor is climaxing. */
  "sounds" : ["/sfx/sexbound/cum/squish.ogg"],
  
  /* This range of numbers will control how often the actor has an orgasm. */
  "shotCooldown" : [0.5, 1.5]
}