{
  "sounds" : {
    /* Male Actors: List of moan sound effects. */
    "male" : [],
    
    /* Female Actors: List of moan sound effects. */
    "female" : [
      "/sfx/sexbound/moans/femalemoan1.ogg",
      "/sfx/sexbound/moans/femalemoan2.ogg",
      "/sfx/sexbound/moans/femalemoan3.ogg",
      "/sfx/sexbound/moans/femalemoan4.ogg",
      "/sfx/sexbound/moans/femalemoan5.ogg"
    ]
  },

  "pitch" : {
    /* This number range is used to adjust the pitch of the male actor's moan. */
    "male"   : [1.0, 1.1],
    
    /* This number range is used to adjust the pitch of the female actor's moan. */
    "female" : [1.0, 1.1]
  },
  
  /* This number range is used as a base to determine how often an actor moans. */
  "cooldown" : [5, 7]
}