{
  "sounds" : {
    "male" : [],
    
    "female" : [
      "/sfx/sexbound/moans/femalemoan1.ogg",
      "/sfx/sexbound/moans/femalemoan2.ogg",
      "/sfx/sexbound/moans/femalemoan3.ogg",
      "/sfx/sexbound/moans/femalemoan4.ogg",
      "/sfx/sexbound/moans/femalemoan5.ogg"
    ]
  },

  "pitch" : {
    "male"   : [1.0, 1.1],
    
    "female" : [1.0, 1.1]
  },
  
  "cooldown" : [5, 7]
}