{
  /*
    true  := Allow the Actor track multiple pregnancies.
    false := Only allow the Actor to track one pregnancy.
  */
  "allowMultipleImpregnations" : false,
  
  /* 
    true  := Use compatibleMates to check if the Other Actor is a compatible mate.
    false := Do not use compatibleMates. Only check the Other Actor's gender.
  */
  "enableCompatibleMates" : true,

  /*
    true  := Show Actor's pregnant belly during sex.
    false := Hide Actor's pregnant belly during sex.
  */
  "enablePregnancyFetish" : true,
  
  /* Affects the chance to become pregnant for this entity (0.75 = 75% chance) */
  "fertility" : 0.75,
  
  /* Three trimesters in a pregnancy. This number is multiplied by the trimesterLength. */
  "trimesterCount" : 3,
  
  /* Each trimester lasts 2 - 3 days */
  "trimesterLength" : [2, 3],
  
  /* Compatibiliy checks for vanilla species. This can be customized to check for custom species. */
  "compatibleMates" : {
    "apex" : {
      "male" : [{
        "gender" : "female",
        "species" : "apex"
      }],
      
      "female" : [{
        "gender" : "male",
        "species" : "apex"
      }]
    },
    
    "avian" : {
      "male" : [{
        "gender" : "female",
        "species" : "avian"
      }],
      
      "female" : [{
        "gender" : "male",
        "species" : "avian"
      }]
    },
    
    "fenerox" : {
      "male" : [{
        "gender" : "female",
        "species" : "fenerox"
      }],
      
      "female" : [{
        "gender" : "male",
        "species" : "fenerox"
      }]
    },
    
    "floran" : {
      "male" : [
        {
          "gender" : "male",
          "species" : "floran"
        },
        {
          "gender" : "female",
          "species" : "floran"
        }
      ],
      
      "female" : [
        {
          "gender" : "male",
          "species" : "floran"
        },
        {
          "gender" : "female",
          "species" : "floran"
        }
      ]
    },
    
    "human" : {
      "male" : [{
        "gender" : "female",
        "species" : "human"
      }],
      
      "female" : [{
        "gender" : "male",
        "species" : "human"
      }]
    },
    
    "hylotl" : {
      "male" : [{
        "gender" : "female",
        "species" : "hylotl"
      }],
      
      "female" : [{
        "gender" : "male",
        "species" : "hylotl"
      }]
    },
    
    "novakid" : {
      "male" : [{
        "gender" : "female",
        "species" : "novakid"
      }],
      
      "female" : [{
        "gender" : "male",
        "species" : "novakid"
      }]
    }
  }
}