{
  "friendlyName" : "Butterfly",
  
  "name" : "butterfly",
  
  "dialog" : {
    "default" : "/dialog/sexbound/<langcode>/positions/butterfly/default<gender>.config",
    "apex"    : "/dialog/sexbound/<langcode>/positions/butterfly/apex<gender>.config",
    "avian"   : "/dialog/sexbound/<langcode>/positions/butterfly/avian<gender>.config",
    "fenerox" : "/dialog/sexbound/<langcode>/positions/butterfly/fenerox<gender>.config",
    "floran"  : "/dialog/sexbound/<langcode>/positions/butterfly/floran<gender>.config",
    "glitch"  : "/dialog/sexbound/<langcode>/positions/butterfly/glitch<gender>.config",
    "human"   : "/dialog/sexbound/<langcode>/positions/butterfly/human<gender>.config",
    "hylotl"  : "/dialog/sexbound/<langcode>/positions/butterfly/hylotl<gender>.config",
    "novakid" : "/dialog/sexbound/<langcode>/positions/butterfly/novakid<gender>.config"
  },
  
  "allowClimax" : true,
  "allowMoan"   : true,
  "allowEmote"  : true,
  
  "animationState" : {
    "idleState"   : {
      "frameName" : "idle",
      "stateName" : "idle",
      "flipBody"  : [false, false],
      "flipHead"  : [false, false],
      "rotateBody": [0,0],
      "rotateHead": [0,0]
    },
    "sexState"    : {
      "frameName" : "position5",
      "stateName" : "position5",
      "flipBody"  : [false, false],
      "flipHead"  : [false, false],
      "rotateBody": [0,0],
      "rotateHead": [0,0]
    },
    "climaxState" : {
      "frameName" : "position5-climax",
      "stateName" : "position5-climax",
      "flipBody"  : [false, false],
      "flipHead"  : [false, false],
      "rotateBody": [0,0],
      "rotateHead": [0,0]
    },
    "exitState"   : {
      "frameName" : "position5-reset",
      "stateName" : "position5-reset",
      "flipBody"  : [false, false],
      "flipHead"  : [false, false],
      "rotateBody": [0,0],
      "rotateHead": [0,0]
    }
  },
  
  "buttonImage" : "/interface/sexbound/positions/position5-button.png",
  
  "climaxParticles" : [
    {
      "male"   : "actor1-position5-climax-male",
      "female" : "actor1-position5-climax-female"
    },
    
    {
      "male"   : "actor2-position5-climax-male",
      "female" : "actor2-position5-climax-female"
    }
  ],
  
  "climaxMultiplier" : [1.5, 1.5],
  
  "maxAllowedActors" : 2,
  
  "possiblePregnancy" : [false, true],
  
  "minTempo" : 2,
  "maxTempo" : [3, 5],
  
  "sustainedInterval" : [20, 30]
}