{
  "friendlyName" : "Cowgirl",
  
  "name" : "cowgirl",
  
  "dialog" : {
    "default" : "/dialog/sexbound/<langcode>/positions/cowgirl/default<gender>.config",
    "apex"    : "/dialog/sexbound/<langcode>/positions/cowgirl/apex<gender>.config",
    "avian"   : "/dialog/sexbound/<langcode>/positions/cowgirl/avian<gender>.config",
    "fenerox" : "/dialog/sexbound/<langcode>/positions/cowgirl/fenerox<gender>.config",
    "floran"  : "/dialog/sexbound/<langcode>/positions/cowgirl/floran<gender>.config",
    "glitch"  : "/dialog/sexbound/<langcode>/positions/cowgirl/glitch<gender>.config",
    "human"   : "/dialog/sexbound/<langcode>/positions/cowgirl/human<gender>.config",
    "hylotl"  : "/dialog/sexbound/<langcode>/positions/cowgirl/hylotl<gender>.config",
    "novakid" : "/dialog/sexbound/<langcode>/positions/cowgirl/novakid<gender>.config"
  },
  
  "allowClimax" : true,
  "allowMoan"   : true,
  "allowEmote"  : true,
  
  "animationState" : {
    "idleState"   : {
      "frameName" : "idle",
      "stateName" : "idle",
      "flipBody"  : [false, false],
      "flipHead"  : [false, false],
      "rotateBody": [0,0],
      "rotateHead": [0,0]
    },
    "sexState"    : {
      "frameName" : "position3",
      "stateName" : "position3",
      "flipBody"  : [false, false],
      "flipHead"  : [false, true],
      "rotateBody": [0,0],
      "rotateHead": [90,0]
    },
    "climaxState" : {
      "frameName" : "position3-climax",
      "stateName" : "position3-climax",
      "flipBody"  : [false, false],
      "flipHead"  : [false, true],
      "rotateBody": [0,0],
      "rotateHead": [90,0]
    },
    "exitState"   : {
      "frameName" : "position3-reset",
      "stateName" : "position3-reset",
      "flipBody"  : [false, false],
      "flipHead"  : [false, true],
      "rotateBody": [0,0],
      "rotateHead": [90,0]
    }
  },
  
  "buttonImage" : "/interface/sexbound/positions/position3-button.png",
  
  "climaxParticles" : [
    {
      "male"   : "actor1-position3-climax-male",
      "female" : "actor1-position3-climax-female"
    },
    
    {
      "male"   : "actor2-position3-climax-male",
      "female" : "actor2-position3-climax-female"
    }
  ],
  
  "climaxMultiplier" : [2.0, 2.0],
  
  "maxAllowedActors" : 2,

  "possiblePregnancy" : [false, true],
  
  "minTempo" : 2,
  "maxTempo" : [3, 5],
  
  "sustainedInterval" : [20, 30]
}