{
  "cowgirl" : {
    "configFile" : "/positions/cowgirl/cowgirl.config"
  },
  
  "doggy" : {
    "configFile" : "/positions/doggy/doggy.config"
  },
  
  "from_behind" : {
    "configFile" : "/positions/from_behind/from_behind.config"
  },
  
  "idle" : {
    "configFile" : "/positions/idle/idle.config"
  }
}