{
  "fellatio" : {
    "configFile" : "/positions/fellatio.config"
  },
  
  "fellatio_in_bed" : {
    "configFile" : "/positions/fellatio_in_bed.config"
  },
  
  "butterfly" : {
    "configFile" : "/positions/butterfly.config"
  },
  
  "butterfly_in_bed" : {
    "configFile" : "/positions/butterfly_in_bed.config"
  },
  
  "cowgirl" : {
    "configFile" : "/positions/cowgirl.config"
  },
  
  "cowgirl_in_bed" : {
    "configFile" : "/positions/cowgirl_in_bed.config"
  },
  
  "missionary" : {
    "configFile" : "/positions/missionary.config"
  },
  
  "missionary_in_bed" : {
    "configFile" : "/positions/missionary_in_bed.config"
  },
  
  "doggy" : {
    "configFile" : "/positions/doggy.config"
  },
  
  "doggy_in_bed" : {
    "configFile" : "/positions/doggy_in_bed.config"
  },
  
  "standing" : {
    "configFile" : "/positions/standing.config"
  },
  
  "standing_in_bed" : {
    "configFile" : "/positions/standing_in_bed.config"
  }
}