{
  "cowgirl" : {
    "configFile" : "/positions/cowgirl.config"
  },
  
  "cowgirl_in_bed" : {
    "configFile" : "/positions/cowgirl_in_bed.config"
  },
  
  "doggy" : {
    "configFile" : "/positions/doggy.config"
  },
  
  "doggy_in_bed" : {
    "configFile" : "/positions/doggy_in_bed.config"
  },
  
  "from_behind" : {
    "configFile" : "/positions/from_behind.config"
  },
  
  "from_behind_in_bed" : {
    "configFile" : "/positions/from_behind_in_bed.config"
  }
}