[
  {
    "climaxing": {
      "default": {
        "female": {
          "default": [
            "Rrahh! Take my cum, meat!"
          ]
        },
        "male": {
          "default": [
            "Rrahh! Take my cum, meat!"
          ]
        }
      }
    },
    "default": {
      "default": {
        "female": {
          "climaxing": [
            "A-ah, cover my rod in your cream, my sweet."
          ],
          "default": [
            "We're not called Apex for nothing!",
            "As you can see.. I'M Big Ape!",
            "Rrr.. y-you feel so good..",
            "I-I'm going APE! .. sorry.",
            "I'm built to last for days! I hope you're ready for that."
          ]
        },
        "male": {
          "climaxing": [
            "A-ah, cover my rod in your cream, my sweet."
          ],
          "default": [
            "We're not called Apex for nothing!",
            "As you can see.. I'M Big Ape!",
            "Rrr.. y-you feel so good..",
            "I-I'm going APE! .. sorry.",
            "I'm built to last for days! I hope you're ready for that."
          ]
        }
      },
      "human": {
        "female": {
          "default": [
            "You're so fleshy.. I like it!"
          ]
        },
        "male": {
          "default": [
            "You're so fleshy.. I like it!"
          ]
        }
      }
    }
  },
  {
    "climaxing": {
      "default": {
        "female": {
          "default": [
            "I'm.. I'm cumming! T-tear my fur o-out!"
          ]
        },
        "male": {
          "default": [
            "I'm.. I'm cumming! T-tear my fur o-out!"
          ]
        }
      }
    },
    "default": {
      "default": {
        "female": {
          "climaxing": [
            "I s-scientifically endorse this seminal deposit!"
          ],
          "default": [
            "Euugh.. pull my tail! F-fuck me!",
            "Ah-whh.. you're getting my f-fur everywhere!",
            "Big Ape probably shouldn't watch this..",
            "Mmh.. now this is my kinda banana!",
            "I believe this position is called 'doggystyle.' How c-cr-ude!"
          ]
        },
        "male": {
          "climaxing": [
            "I s-scientifically endorse this seminal deposit!"
          ],
          "default": [
            "Euugh.. pull my tail! F-fuck me!",
            "Ah-whh.. you're getting my f-fur everywhere!",
            "Big Ape probably shouldn't watch this..",
            "Mmh.. now this is my kinda banana!",
            "I believe this position is called 'doggystyle.' How c-cr-ude!"
          ]
        }
      }
    }
  }
]