[{
  "default" : {
    "default" : {
      "default" : {
        "default" : []
      }
    }
  }
}, {
	"default": {
		"default": {
      "female" : {
        "default" : [
          "Keep me down here on my hands and knees! Slam my damn dirty ass~! Mmhhn~!",
          "You're fucking me raw!~ Do you treat all Apex this way~?",
          "I love how you treat me like a wild animal~!"
        ]
      },
      
      "male" : {
        "default" : [
          "Keep me down here on my hands and knees! Slam my damn dirty ass~! Mmhhn~!",
          "You're fucking me raw!~ Do you treat all Apex this way~?",
          "Please, try to go easy on me! I'm not used to having my ass fucked so savagely~!",
          "I love how you treat me like a wild animal~!"
        ],
        
        "climaxing" : [
          "Mmh~! Fill my needy primate hole with your worthy seed~!"
        ]
      }
		}
	}
}]