[{
	"default": {
		"default": {
			"default": {
				"default": []
			}
		}
	}
}, {
	"default": {
		"default": {
			"default": {
				"default": [
					"Ooh yeah, make me eat the floor!",
					"Fuuuuck.. keep going, keep plowing me!",
					"Mmnf, keep it going! I'll push back!",
					"Mmnh.. Make me your bitch!",
					"Awh.. A-Am I a good girl?",
					"Mm.. Ruff me up!",
					"H-how does my cunny feel, mmh? T-tight?",
					"Y-yeaaah.. stuff me with that bone!"
				],

				"pregnant": [
					"C-careful back there, I'm pregnant!",
					"A-ahh, I'm so sensitive.. E-easy!"
				]
			},

			"female": {
				"default": [
					"Ooh yeah, make me eat the floor!",
					"Fuuuuck.. keep going, keep plowing me!",
					"Mmnf, keep it going! I'll push back!",
					"Mmnh.. Make me your bitch!",
					"Awh.. A-Am I a good girl?",
					"Mm.. Ruff me up!",
					"H-how does my cunny feel, mmh? T-tight?"
				],

				"pregnant": [

				]
			},

			"male": {
				"default": [
					"Ooh yeah, make me eat the floor!",
					"Fuuuuck.. keep going, keep plowing me!",
					"Mmnf, keep it going! I'll push back!",
					"Mmnh.. Make me your bitch!",
					"Awh.. A-Am I a good girl?",
					"Mm.. Ruff me up!",
					"H-how does my cunny feel, mmh? T-tight?",
					"Aww-hh, yesss. Your cock feels so good!"
				],

				"climaxing": [
					"O-oh! You're cumming.. Unng, paint my insides with your thick spunk!",
					"Fuuuck, yess! Grab my hips and cream me!"
				],

				"pregnant": [

				]
			}
		}
	},

	"pregnant": {
		"default": {
			"female": {
				"default": [
					"C-careful back there, I'm pregnant!",
					"A-ahh, I'm so sensitive.. E-easy!"
				]
			},

			"male": {
				"default": [
					"C-careful back there, I'm pregnant!",
					"A-ahh, I'm so sensitive.. E-easy!"
				],

				"climaxing": [
					"Mmh.. F-fill me up.. I can't get any more pregnant!",
					"Y-yesss! I feel so much more f-full!",
					"A-ahh, fill up my pussy.. Yesss!"
				]
			}
		}
	},
  
	"climaxing": {
		"default": {
			"male": {
				"climaxing": [
					"A-ahh, I'm cumming too! Cream meee!",
					"I'm cumming, I'm cummin- Aa-ahh!",
					"Let's cu-um together! unnff!"
				]
			}
		}
	}
}]