[{
  "default" : {
    "default" : {
      "default" : {
        "default" : []
      }
    }
  }
}, {
	"default": {
		"default": {
			"default": {
				"default": [
          "Bend me over and make me eat the floor~!", 
          "My ass is raised and ready to be violated~!", 
          "Mmnf, keeping going~! I'll push back~!", 
          "In and out, in and out, fuckmefuckmefuckme~!"
        ]
			},
      
      "female" : {
        "default" : [
          "Bend me over and make me eat the floor~!", 
          "My ass is raised and ready to be violated~!", 
          "Mmnf, keeping going~! I'll push back~!", 
          "In and out, in and out, fuckmefuckmefuckme~!"
        ]
      },
      
      "male" : {
        "default" : [
          "Bend me over and make me eat the floor~!", 
          "My ass is raised and ready to be violated~!", 
          "Mmnf, keeping going~! I'll push back~!", 
          "In and out, in and out, fuckmefuckmefuckme~!"
        ],
        
        "climaxing" : [
          "O-oh~! You're cumming~! Unng, paint my insides with your thick spunk~!"
        ]
      }
		}
	}
}]