[{
  "default" : {
    "default" : {
      "default" : {
        "default" : []
      }
    }
  }
}, {
	"default": {
		"default": {
			"default": {
				"default": [
          "Ooh yeah, make me eat the floor!", 
          "Fuuuuck.. keep going, keep plowing me!", 
          "Mmnf, keep it going! I'll push back!",
		  "Mmnh.. Make me your bitch!",
		  "Awh.. A-Am I a good boy?",
		  "Mm.. Ruff me up!",
		  "H-how does my ass feel, mmh? T-tight?"
		  "Y-yeaaah.. stuff me with that bone!"
        ]
			},
      
      "female" : {
        "default" : [
          "Ooh yeah, make me eat the floor!", 
          "Fuuuuck.. keep going, keep plowing me!", 
          "Mmnf, keep it going! I'll push back!",
		  "Mmnh.. Make me your bitch!",
		  "Awh.. A-Am I a good boy?",
		  "Mm.. Ruff me up!",
		  "H-how does my ass feel, mmh? T-tight?"
        ]
      },
      
      "male" : {
        "default" : [
          "Ooh yeah, make me eat the floor!", 
          "Fuuuuck.. keep going, keep plowing me!", 
          "Mmnf, keep it going! I'll push back!",
		  "Mmnh.. Make me your bitch!",
		  "Awh.. A-Am I a good boy?",
		  "Mm.. Ruff me up!",
		  "H-how does my ass feel, mmh? T-tight?",
		  "Aww-hh, yesss. Your cock feels so good!",
		  "Y-yeaaah.. stuff me with that bone!"
        ],
        
        "climaxing" : [
          "O-oh! You're cumming.. Unng, paint my insides with your thick spunk!",
		  "Fuuuck, yess! Grab my hips and cream me!",
		  "A-ahh, fill up my ass.. Yesss!"
        ]
      }
		}
	}
	"climaxing" : {
    "default" : {
        "male" : {
            "climaxing" : [
                "A-ahh, I'm cumming too! Cream meee!",
				"I'm cumming, I'm cummin- Aa-ahh!",
				"Let's cu-um together! unnff!"
            ]
        }
    }
}
}]