[
  {
    "climaxing": {
      "default": {
        "female": {
          "climaxing": [
            "Ti-tight spot.. Floran can't take it anymore!"
          ],
          "default": [
            "Arrg.. Fl-.. Floran cumming!"
          ]
        },
        "male": {
          "climaxing": [
            "Ti-tight spot.. Floran can't take it anymore!"
          ],
          "default": [
            "Arrg.. Fl-.. Floran cumming!"
          ]
        }
      }
    },
    "default": {
      "default": {
        "female": {
          "climaxing": [
            "Hm? Floran feel more sssquished."
          ],
          "default": [
            "Now THIS Floran ssstabbing!",
            "Hey.. Floran think you look good from behind!",
            "A tight ssspace.. but Floran will fit!",
            "Too.. hot.. inssside.. Floran holding on!",
            "Wow! Partner isss tight. Floran think TOO tight.."
          ]
        },
        "male": {
          "climaxing": [
            "Hm? Floran feel more sssquished."
          ],
          "default": [
            "Now THIS Floran ssstabbing!",
            "Hey.. Floran think you look good from behind!",
            "A tight ssspace.. but Floran will fit!",
            "Too.. Hot.. inssside.. Floran holding on!",
            "Wow! Partner isss tight. Floran think TOO tight.."
          ]
        }
      },
      "hylotl": {
        "female": {
          "default": [
            "Floran can't get over how grosss this isss.."
          ]
        },
        "male": {
          "default": [
            "Floran can't get over how grosss this isss.."
          ]
        }
      }
    }
  },
  {
    "climaxing": {
      "default": {
        "female": {
          "climaxing": [
            "C-cu-um with Floran! Yessssss.."
          ],
          "default": [
            "Fl-Floran- feel.. GREAAAT!"
          ]
        },
        "male": {
          "climaxing": [
            "C-cu-um with Floran! Yessssss.."
          ],
          "default": [
            "Fl-Floran- feel.. GREAAAT!"
          ]
        }
      }
    },
    "default": {
      "default": {
        "female": {
          "climaxing": [
            "Oooh, Floran feelsss EXTRA full.."
          ],
          "default": [
            "Floran lovesss being bent over!",
            "Floran might be okay with being thisss prey..",
            "Feelsss gooood.. Floran approvesss.",
            "Ssspank Floran! Baaad Floran!",
            "Feel.. full! Floran LOVESSS full!"
          ]
        },
        "male": {
          "climaxing": [
            "Oooh, Floran feelsss EXTRA full.."
          ],
          "default": [
            "Floran lovesss being bent over!",
            "Floran might be okay with being thisss prey..",
            "Feelsss gooood.. Floran approvesss.",
            "Ssspank Floran! Baaad Floran!",
            "Feel.. full! Floran LOVESSS full!"
          ]
        }
      },
      "hylotl": {
        "female": {
          "default": [
            "Awh.. now floran insides sssmell funny.."
          ]
        },
        "male": {
          "default": [
            "Awh.. now floran insides sssmell funny.."
          ]
        }
      }
    }
  }
]