[
  {
    "climaxing": {
      "default": {
        "female": {
          "climaxing": [
            "Contented. Filling you up is a full-time job."
          ],
          "default": [
            "Exhausted. I'm unloading my oil!"
          ]
        },
        "male": {
          "climaxing": [
            "Contented. Filling you up is a full-time job."
          ],
          "default": [
            "Exhausted. I'm unloading my oil!"
          ]
        }
      }
    },
    "default": {
      "avian": {
        "female": {
          "default": [
            "Intrigued. Your feathers stick between my plates!"
          ]
        },
        "male": {
          "default": [
            "Intrigued. Your feathers stick between my plates!"
          ]
        }
      },
      "default": {
        "female": {
          "climaxing": [
            "Attentive. I can feel you tightening!"
          ],
          "default": [
            "Proud. I am certainly doing well.",
            "Aroused. You're gripping me like a vice!",
            "Insatiable. I can't get enough of your posterior!",
            "Lustful. I can keep going on for days..",
            "Helpful. Here, let me grab your hips!"
          ]
        },
        "male": {
          "climaxing": [
            "Attentive. I can feel you tightening!"
          ],
          "default": [
            "Proud. I am certainly doing well.",
            "Aroused. You're gripping me like a vice!",
            "Insatiable. I can't get enough of your posterior!",
            "Lustful. I can keep going on for days..",
            "Helpful. Here, let me grab your hips!"
          ]
        }
      },
      "hylotl": {
        "female": {
          "default": [
            "Gratified. It's easier to penetrate one with such slippery skin!"
          ]
        },
        "male": {
          "default": [
            "Gratified. It's easier to penetrate one with such slippery skin!"
          ]
        }
      }
    }
  },
  {
    "climaxing": {
      "default": {
        "female": {
          "climaxing": [
            "Fatigued. C-cum with me!"
          ],
          "default": [
            "Loving. I-I'm cumming!"
          ]
        },
        "male": {
          "climaxing": [
            "Fatigued. C-cum with me!"
          ],
          "default": [
            "Loving. I-I'm cumming!"
          ]
        }
      }
    },
    "default": {
      "default": {
        "female": {
          "climaxing": [
            "Lecherous. Inject me with your genetic code!"
          ],
          "default": [
            "Satisfied. This is an enjoyable canidae-based position.",
            "Exaggerated. You are just too big!",
            "Titalated. My insides are buzzing!",
            "Annoyed. You're bruising my exterior!",
            "Salacious. Keep at it.. I'm hard as steel!"
          ]
        },
        "male": {
          "climaxing": [
            "Lecherous. Inject me with your genetic code!"
          ],
          "default": [
            "Satisfied. This is an enjoyable canidae-based position.",
            "Exaggerated. You are just too big!",
            "Titalated. My insides are buzzing!",
            "Annoyed. You're bruising my exterior!",
            "Salacious. Keep at it.. I'm hard as steel!"
          ]
        }
      }
    }
  }
]