[
  {
    "default": {
      "apex": {
        "female": {
          "default": [
            "I think I'm on top of the food chain now."
          ]
        },
        "male": {
          "default": [
            "I think I'm on top of the food chain now."
          ]
        }
      },
      "avian": {
        "female": {
          "default": [
            "I.. feel like I'm flying!"
          ]
        },
        "male": {
          "default": [
            "I.. feel like I'm flying!"
          ]
        }
      },
      "fenerox": {
        "female": {
          "default": [
            "Hehe, your fur tickles."
          ]
        },
        "male": {
          "default": [
            "Hehe, your fur tickles."
          ]
        }
      },
      "floran": {
        "female": {
          "default": [
            "I'll give ya some meat, freaky-plant!"
          ]
        },
        "male": {
          "default": [
            "I'll give ya some meat, freaky-plant!"
          ]
        }
      },
      "glitch": {
        "female": {
          "default": [
            "Surprisingly.. this doesn't hurt."
          ]
        },
        "male": {
          "default": [
            "Surprisingly.. this doesn't hurt."
          ]
        }
      },
      "hylotl": {
        "female": {
          "default": [
            "I don't remember fish being this wet.."
          ]
        },
        "male": {
          "default": [
            "I don't remember fish being this hard.."
          ]
        }
      },
      "novakid": {
        "female": {
          "default": [
            "Damn, cowgirl. You're taking it like a champ!"
          ]
        },
        "male": {
          "default": [
            "Damn, cowboy. You're taking it like a champ!"
          ]
        }
      }
    }
  },
  {
    "default": {
      "apex": {
        "female": {
          "default": [
            "Hey! Stop monkeying around back there!"
          ]
        },
        "male": {
          "default": [
            "Hey! Stop monkeying around back there!"
          ]
        }
      },
      "avian": {
        "female": {
          "default": [
            "W-wow.. Your feathers feel so soft!"
          ]
        },
        "male": {
          "default": [
            "W-wow.. Your feathers feel so soft!"
          ]
        }
      },
      "fenerox": {
        "female": {
          "default": [
            "Cavefox. Know how to. F-fuck!"
          ]
        },
        "male": {
          "default": [
            "Cavefox. Know how to. F-fuck!"
          ]
        }
      },
      "floran": {
        "female": {
          "default": [
            "J-jeez, this is what I get for eating my vegetables.."
          ]
        },
        "male": {
          "default": [
            "J-jeez, this is what I get for eating my vegetables.."
          ]
        }
      },
      "glitch": {
        "female": {
          "default": [
            "Ung.. daily dose of iron!"
          ]
        },
        "male": {
          "default": [
            "Ung.. daily dose of iron!"
          ]
        }
      },
      "hylotl": {
        "female": {
          "default": [
            "I never liked sushi- f-fuccck yes."
          ]
        },
        "male": {
          "default": [
            "I never liked sushi- f-fuccck yes."
          ]
        }
      },
      "novakid": {
        "female": {
          "default": [
            "Ooh, yeah.. you can be my partner any time!"
          ]
        },
        "male": {
          "default": [
            "Ooh, yeah.. you can be my partner any time!"
          ]
        }
      }
    }
  }
]