[
  {
    "climaxing": {
      "default": {
        "female": {
          "default": [
            "Snnk.. yeah! I'm e-xploding!"
          ]
        },
        "male": {
          "default": [
            "Snnk.. yeah! I'm e-xploding!"
          ]
        }
      }
    },
    "default": {
      "default": {
        "female": {
          "climaxing": [
            "M-my.. your insides are convulsing."
          ],
          "default": [
            "I was already above you.. might as well literally be there too.",
            "I-I knew you had no class.. look at you, on your hands and knees..",
            "You are.. very attractive from behind.",
            "Come on, push back already! I know I'm big and all but..",
            "How's this feel? Shh. Y-you don't have to tell me. It's great!"
          ]
        },
        "male": {
          "climaxing": [
            "M-my.. your insides are convulsing."
          ],
          "default": [
            "I was already above you.. might as well literally be there too.",
            "I-I knew you had no class.. look at you, on your hands and knees..",
            "You are.. very attractive from behind.",
            "Come on, push back already! I know I'm big and all but..",
            "How's this feel? Shh. Y-you don't have to tell me. It's great!"
          ]
        }
      }
    }
  },
  {
    "climaxing": {
      "default": {
        "female": {
          "default": [
            "A-ah, so.. brilliantly.. warm.."
          ]
        },
        "male": {
          "default": [
            "A-ah, so.. brilliantly.. warm.."
          ]
        }
      }
    },
    "default": {
      "default": {
        "female": {
          "climaxing": [
            "Ennugh, y-you're erupting!"
          ],
          "default": [
            "Exquisite.. please, pound my rear harder!",
            "Ooh, yes.. you've certainly a good force to your thrusts..",
            "Do you mind if I read while you're busy? ",
            "Uunf.. this kind of stimulation is always the best.",
            "This is so d-debasing!"
          ]
        },
        "male": {
          "climaxing": [
            "Ennugh, y-you're erupting!"
          ],
          "default": [
            "Exquisite.. please, pound my rear harder!",
            "Ooh, yes.. you've certainly a good force to your thrusts..",
            "Do you mind if I read while you're busy? ",
            "Uunf.. this kind of stimulation is always the best.",
            "This is so d-debasing!"
          ]
        }
      }
    }
  }
]