[
  {
    "climaxing": {
      "default": {
        "female": {
          "climaxing": [
            "A-ahh yeahhh. That's good lovin'!"
          ],
          "default": [
            "About to 'splode!"
          ]
        },
        "male": {
          "climaxing": [
            "A-ahh yeahhh. That's good lovin'!"
          ],
          "default": [
            "About to 'splode!"
          ]
        }
      }
    },
    "default": {
      "default": {
        "female": {
          "climaxing": [
            "Ain't you a purty little thing, squeezin' me extra tight and whatnot!"
          ],
          "default": [
            "This ain't what I had in mind when I said pushin' cattle!",
            "Tight like a vice-grip, chief!",
            "I've ridden all my life.. b-but never like this!",
            "You're doin' mighty fine.. just let me take care of ya.",
            "Phew.. resilient, ain'tcha?"
          ]
        },
        "male": {
          "climaxing": [
            "Ain't you a purty little thing, squeezin' me extra tight and whatnot!"
          ],
          "default": [
            "This ain't what I had in mind when I said pushin' cattle!",
            "Tight like a vice-grip, chief!",
            "I've ridden all my life.. b-but never like this!",
            "You're doin' mighty fine.. just let me take care of ya.",
            "Phew.. resilient, ain'tcha?"
          ]
        }
      }
    }
  },
  {
    "climaxing": {
      "default": {
        "female": {
          "climaxing": [
            "Eng.. yes! Let's create a spark 'a life!"
          ],
          "default": [
            "Enuugh, the dam's comin' loose, p-partner!"
          ]
        },
        "male": {
          "climaxing": [
            "Eng.. yes! Let's create a spark 'a life!"
          ],
          "default": [
            "Enuugh, the dam's comin' loose, p-partner!"
          ]
        }
      }
    },
    "default": {
      "default": {
        "female": {
          "climaxing": [
            "S-shucks.. I feel your sparks all up in me 'good.."
          ],
          "default": [
            "Nngh.. you're really into this, ain'tcha?",
            "Ya certainly are eager t'ride, p-partner!",
            "A-hh.. spicier than chili!",
            "Yeehaw! This is my kinda doggy!",
            "Jeez partner, you got a BUCK to ya!"
          ]
        },
        "male": {
          "climaxing": [
            "S-shucks.. I feel your sparks all up in me 'good.."
          ],
          "default": [
            "Nngh.. you're really into this, ain'tcha?",
            "Ya certainly are eager t'ride, p-partner!",
            "A-hh.. spicier than chili!",
            "Yeehaw! This is my kinda doggy!",
            "Jeez partner, you got a BUCK to ya!"
          ]
        }
      }
    }
  }
]