{
  "currentVersion" : "2.4.0",

  /* Default climaxState animation name */
  "animationStateClimax" : "climax",
  
  /* Default exitState animation name */
  "animationStateExit"   : "reset",
  
  /* Default idleState animation name */
  "animationStateIdle"   : "idle",
  
  /* Default sexState animation name */
  "animationStateSex"    : "mainloop",
  
  "sex" : {
    /* Default gender to fallback on when the player's gender is not supported. */
    "defaultPlayerGender"  : "male",
    
    /* Default species to fallback on when the player's species is not supported. */
    "defaultPlayerSpecies" : "human",
    
    /* Default language used for the mod. Specify: (english / russian) */
    "defaultLanguage" : "english",
    
    /* Supported languages : English and Russian */
    "supportedLanguages" : {
      "english" : {
        "title" : "English",
        "name" : "english",
        "languageCode" : "en"
      },
      
      "russian" : {
        "title" : "Russian",
        "name" : "russian",
        "languageCode" : "ru"
      }
    },
  
    /* Supports female and male genders by default. */
    "supportedPlayerGenders" : ["female", "male"],
    
    /* Supports all vanilla species by default. */
    "supportedPlayerSpecies" : ["apex", "avian", "fenerox", "floran", "glitch", "human", "hylotl", "novakid"]
  },
  
  "actor" : {
    /* Each actor loads its own plugins when it meets the plugin's load requirements.
    
       Players must individual modify each plugin's config file. */
    "plugins" : {
      "climax" : {
        "enable" : true,
        "name" : "Climax",
        "config" : "/scripts/sexbound/plugins/climax.config",
        "script" : "/scripts/sexbound/plugins/climax.lua",
        "loadRequirements" : {}
      },
      
      "emote" : {
        "enable" : true,
        "name" : "Emote",
        "config" : "/scripts/sexbound/plugins/emote.config",
        "script" : "/scripts/sexbound/plugins/emote.lua",
        "loadRequirements" : {}
      },
      
      "moan" : {
        "enable" : true,
        "name" : "Moan",
        "config" : "/scripts/sexbound/plugins/moan.config",
        "script" : "/scripts/sexbound/plugins/moan.lua",
        "loadRequirements" : {}
      },
      
      "pregnant" : {
        "enable" : true,
        "name" : "Pregnant",
        "config" : "/scripts/sexbound/plugins/pregnant.config",
        "script" : "/scripts/sexbound/plugins/pregnant.lua",
        "loadRequirements" : {
          "gender" : "female"
        }
      },
      
      "sextalk" : {
        "enable" : true,
        "name" : "SexTalk",
        "config" : "/scripts/sexbound/plugins/sextalk.config",
        "script" : "/scripts/sexbound/plugins/sextalk.lua",
        "loadRequirements" : {
          "entityType" : "npc"
        }
      }
    }
  },
  
  "animation" : {
    "flipped" : false
  },
  
  "log" : {
    "showInfo"  : false,
    "showWarn"  : true,
    "showError" : true
  },
  
  /* Configuration for the interaction when in certain animation states. */
  "position" : {
    "configFile" : "/positions/positions.config"
  },
  
  "ui" : {
    "positionsConfig" : "/interface/sexbound/positions.config"
  }
}