{
  "currentVersion" : "2.0.0",

  /* Default climaxState animation name */
  "animationStateClimax" : "climax",
  
  /* Default exitState animation name */
  "animationStateExit"   : "reset",
  
  /* Default idleState animation name */
  "animationStateIdle"   : "idle",
  
  /* Default sexState animation name */
  "animationStateSex"    : "mainloop",
  
  "sex" : {
    /* Default gender to fallback on when the player's gender is not supported. */
    "defaultPlayerGender"  : "male",
    
    /* Default species to fallback on when the player's species is not supported. */
    "defaultPlayerSpecies" : "human",
    
    /* Default language used for the mod. */
    "defaultLanguage" : "english",
    
    /* english, russian */
    "supportedLanguages" : {
      "english" : {
        "title" : "English",
        "name" : "english",
        "languageCode" : "en"
      },
      
      "russian" : {
        "title" : "Russian",
        "name" : "russian",
        "languageCode" : "ru"
      }
    },
  
    /* Supports female and male genders by default. */
    "supportedPlayerGenders"  : ["female", "male"],
    
    /* Supports all vanilla species by default. */
    "supportedPlayerSpecies" : ["apex", "avian", "fenerox", "floran", "glitch", "human", "hylotl", "novakid"]
  },
  
  "actor" : {
    "plugins" : {
      "climax" : {
        "enable" : true,
        "name" : "Climax",
        "config" : "/scripts/sexbound/plugins/climax.config",
        "script" : "/scripts/sexbound/plugins/climax.lua",
        "loadRequirements" : {}
      },
      
      "emote" : {
        "enable" : true,
        "name" : "Emote",
        "config" : "/scripts/sexbound/plugins/emote.config",
        "script" : "/scripts/sexbound/plugins/emote.lua",
        "loadRequirements" : {}
      },
      
      "moan" : {
        "enable" : true,
        "name" : "Moan",
        "config" : "/scripts/sexbound/plugins/moan.config",
        "script" : "/scripts/sexbound/plugins/moan.lua",
        "loadRequirements" : {}
      },
      
      "pregnant" : {
        "enable" : true,
        "name" : "Pregnant",
        "config" : "/scripts/sexbound/plugins/pregnant.config",
        "script" : "/scripts/sexbound/plugins/pregnant.lua",
        "loadRequirements" : {
          "gender" : "female"
        }
      },
      
      "sextalk" : {
        "enable" : true,
        "name" : "SexTalk",
        "config" : "/scripts/sexbound/plugins/sextalk.config",
        "script" : "/scripts/sexbound/plugins/sextalk.lua",
        "loadRequirements" : {
          "entityType" : "npc"
        }
      }
    }
  },
  
  "log" : {
    "showInfo"  : true,
    "showWarn"  : true,
    "showError" : true
  },
  
  /* Configuration for the interaction when in certain animation states. */
  "position" : {
    "configFile" : "/positions/positions.config",
  
    "idle" : [ "idle" ]
  },
  
  "ui" : {
    "positionsConfig" : "/interface/sexbound/positions.config"
  },
  
  "testNPC" : {
    "storage": {
      "recruits": {
        "beenOnShip": {}
      },
      "pregnant": {
        "isPregnant": false
      },
      "pods": {},
      "activePods": {}
    },
    "id": -99999,
    "entityType": "npc",
    "identity": {
      "facialHairFolder": "fluff",
      "facialHairType": "3",
      "hairFolder": "hair",
      "facialHairGroup": "fluff",
      "hairType": "10",
      "bodyDirectives": "?replace;735e3a=977841;dc1f00=d7e8e8;6f2919=596809;ffca8a=add068;be1b00=8fa7a3;951500=5d6d69;a38d59=c1a24e;e0975c=85ac1b;d9c189=eacf60;a85636=6e8210;f32200=f6fbfb",
      "gender": "female",
      "hairGroup": "hair",
      "facialMaskDirectives": "?replace;735e3a=977841;dc1f00=d7e8e8;6f2919=596809;ffca8a=add068;be1b00=8fa7a3;951500=5d6d69;a38d59=c1a24e;e0975c=85ac1b;d9c189=eacf60;a85636=6e8210;f32200=f6fbfb",
      "species": "avian",
      "facialMaskGroup": "beaks",
      "facialHairDirectives": "?replace;735e3a=977841;dc1f00=d7e8e8;6f2919=596809;ffca8a=add068;be1b00=8fa7a3;951500=5d6d69;a38d59=c1a24e;e0975c=85ac1b;d9c189=eacf60;a85636=6e8210;f32200=f6fbfb",
      "facialMaskFolder": "beaks",
      "emoteDirectives": "?replace;735e3a=977841;dc1f00=d7e8e8;6f2919=596809;ffca8a=add068;be1b00=8fa7a3;951500=5d6d69;a38d59=c1a24e;e0975c=85ac1b;d9c189=eacf60;a85636=6e8210;f32200=f6fbfb",
      "hairDirectives": "?replace;735e3a=977841;dc1f00=d7e8e8;6f2919=596809;ffca8a=add068;be1b00=8fa7a3;951500=5d6d69;a38d59=c1a24e;e0975c=85ac1b;d9c189=eacf60;a85636=6e8210;f32200=f6fbfb",
      "facialMaskType": "9"
    },
    "name": "Ahuitl"
  }
}