{
  "currentVersion" : "2.0.0",

  /* Default climaxState animation name */
  "animationStateClimax" : "climax",
  
  /* Default exitState animation name */
  "animationStateExit"   : "reset",
  
  /* Default idleState animation name */
  "animationStateIdle"   : "idle",
  
  /* Default sexState animation name */
  "animationStateSex"    : "mainloop",
  
  /* Default gender to fallback on when the player's gender is not supported. */
  "defaultPlayerGender"  : "male",
  
  /* Default species to fallback on when the player's species is not supported. */
  "defaultPlayerSpecies" : "human",
  
  /* Supports female and male genders by default. */
  "supportedPlayerGenders"  : ["female", "male"],
  
  /* Supports all vanilla species by default. */
  "supportedPlayerSpecies" : ["apex", "avian", "fenerox", "floran", "glitch", "human", "hylotl", "novakid"],
  
  "testNPC" : {
    "storage": {
      "recruits": {
        "beenOnShip": {}
      },
      "pregnant": {
        "isPregnant": false
      },
      "pods": {},
      "activePods": {}
    },
    "id": -99999,
    "entityType": "npc",
    "identity": {
      "facialHairFolder": "fluff",
      "facialHairType": "1",
      "hairFolder": "hair",
      "facialHairGroup": "fluff",
      "hairType": "16",
      "bodyDirectives": "?replace;735e3a=977841;dc1f00=d7e8e8;6f2919=596809;ffca8a=add068;be1b00=8fa7a3;951500=5d6d69;a38d59=c1a24e;e0975c=85ac1b;d9c189=eacf60;a85636=6e8210;f32200=f6fbfb",
      "gender": "male",
      "hairGroup": "hair",
      "facialMaskDirectives": "?replace;735e3a=977841;dc1f00=d7e8e8;6f2919=596809;ffca8a=add068;be1b00=8fa7a3;951500=5d6d69;a38d59=c1a24e;e0975c=85ac1b;d9c189=eacf60;a85636=6e8210;f32200=f6fbfb",
      "species": "avian",
      "facialMaskGroup": "beaks",
      "facialHairDirectives": "?replace;735e3a=977841;dc1f00=d7e8e8;6f2919=596809;ffca8a=add068;be1b00=8fa7a3;951500=5d6d69;a38d59=c1a24e;e0975c=85ac1b;d9c189=eacf60;a85636=6e8210;f32200=f6fbfb",
      "facialMaskFolder": "beaks",
      "emoteDirectives": "?replace;735e3a=977841;dc1f00=d7e8e8;6f2919=596809;ffca8a=add068;be1b00=8fa7a3;951500=5d6d69;a38d59=c1a24e;e0975c=85ac1b;d9c189=eacf60;a85636=6e8210;f32200=f6fbfb",
      "hairDirectives": "?replace;735e3a=977841;dc1f00=d7e8e8;6f2919=596809;ffca8a=add068;be1b00=8fa7a3;951500=5d6d69;a38d59=c1a24e;e0975c=85ac1b;d9c189=eacf60;a85636=6e8210;f32200=f6fbfb",
      "facialMaskType": "9"
    },
    "name": "Ahuitl"
  },
  
  "interface" : {
    "config" : "/interface/sexbound/default.config"
  },
  
  /* Configuration for the interaction when in certain animation states. */
  "position" : [
    {
      "name" : "Default",
      
      "allowClimax" : true,
      "allowMoan"   : true,
      "allowEmote"  : true,
      
      "animationState"       : "mainloop",
      "climaxAnimationState" : "climax",
      
      "flipBody" : [false, false],
      "flipHead" : [false, false],
      
      "offsetBody"   : [[0.0, 0.0], [0.0, 0.0]],
      "offsetClimax" : [[0.0, 0.0], [0.0, 0.0]],
      "offsetHead"   : [[0.0, 0.0], [0.0, 0.0]],
      
      "possiblePregnancy" : [false, false],
      
      "minTempo"          : 1,
      "maxTempo"          : [2, 3],
      "sustainedInterval" : [20, 30]
    }
  ],
  
  /* Configuration for the Pregnant module */
  "pregnant" : {
    /* Pregnancy is disabled by default. Enable it by setting this value to 'true'. No quotes. */
    "enabled" : false,
  
    /* Affects the chance to become pregnant for this entity (75% chance) */
    "fertility" : 0.75,
  
    /* Toggles the pregnancy of other characters to be shown. */
    "showPregnantOther" : true,
  
    /* Toggles the pregnancy of the player to be shown. */
    "showPregnantPlayer" : true,
  
    /* Three trimesters in a pregnancy */
    "trimesterCount" : 3,
  
    /* Each trimester lasts 2 - 3 days */
    "trimesterLength" : [2, 3]
  },
  
  "sextalk" : {
    "config" : "/dialog/sexbound.config"
  }
}