[{}, {
	"default": {
		"default": {
			"female": {
				"default": [
          "Big Ape probably doesn't want to watch this~!",
          "You're brutal~! Look at my hole fidget~!",
          "Do you like my fur? Would you like it more if your cum coated it~?",
          "I can't help but swivel my tail, your cock is too good~!",
          "Oooh~! I think I much prefer this over bananas~!"
        ]
			},
      
      "male" : {
        "default" : [
          "Big Ape probably doesn't want to watch this~!",
          "You're brutal~! Look at my hole fidget~!",
          "Do you like my fur? Would you like it more if your cum coated it~?",
          "I can't help but swivel my tail, your cock is too good~!",
          "Oooh~! I think I much prefer this over bananas~!"
        ],
        
        "climaxing" : [
          "Mmh~! Fill my needy primate hole with your worthy seed~!"
        ]
      }
		},
    
    "human" : {
      "male" : {
        "default" : [
          "Don't tantalize me with bananas! Shove yours inside me! Faster~!"
        ]
      }
    }
	}
}]