[{
  "default" : {
    "default" : {
      "default" : {
        "default" : [
        
        ]
      }
    }
  }
}, {
	"default": {
		"default": {
			"default": {
				"default"   : [
          "Now who's in control~?",
          "Hear that~? That's my ass slapping against your thighs~!",
          "Uunf, oh yeah~! I can't help myself~!"
         ]
      },
      
      "female" : {
				"default"   : [
          "Now who's in control~?",
          "Hear that~? That's my ass slapping against your thighs~!",
          "Uunf, oh yeah~! I can't help myself~!"
         ]
      },
      
      "male" : {
				"default"   : [
          "Now who's in control~?",
          "Hear that~? That's my ass slapping against your thighs~!",
          "Uunf, oh yeah~! I can't help myself~!",
          "I can fit so much more in sitting on you like this~!"
         ],
        
        "climaxing" : [
          "O-oh~! You're cumming~! Unng, paint my insides with your thick spunk~!"
        ]
      }
		}
	}
}]