[{}, {
	"default": {
		"default": {      
      "male" : {
        "default" : [
          "Святой Клюэкс, ты так хорош~!"
        ],
        
        "climax" : [
          "Клюэкс велик~! Заполни меня всю своей прекрасной спермой~!"
        ]
      }
		},
    
    "human" : {
      "male" : {
        "default" : [
          "Прийми всю благодать Клюэкса~! И натяни мою птичью дырку ~!"
        ]
      }
    }
	}
}]