[{}, {
	"default": {
		"default": {
			"female": {
				"default": [
          "Ты меня так сильно трахаешь~! Засунь ногти мне под чешую, любимый~!",
          "Ты демострируетешь себя с лучшей стороны во мне~!"
        ]
			},
      
      "male" : {
        "default" : [
          "Ты меня так сильно трахаешь~! Засунь ногти мне под чешую, любимый~!",
          "Ты демострируетешь себя с лучшей стороны во мне~!"
        ],
        
        "climaxing" : [
          "Уфф, порви мои чешуйки, и осемени мои икринки, любимый~!"
        ]
      }
		},
    
    "floran" : {
      "male" : {
        "default" : [
          "Уфф. Как грубо ты меня трахаешь, Но так приятно. Mмм~!"
        ]
      }
    }
	}
}]