[{}, {
	"default": {
		"default": {
      "female" : {
				"default"   : [
          "Ложись и дай мне сделать всю роботу~! И не волнуйся я не устану~!"
        ]
      },
      
      "male" : {
				"default"   : [
          "Ложись и дай мне сделать всю роботу~! И не волнуйся я не устану~!"
        ],
        
        "climaxing" : [
          "Mмм~! Заполни меня своим липким семенем~!"
        ]
      }
		}
	}
}]