[{
  "default" : {
    "default" : {
      "default" : {
        "default" : [
        
        ]
      }
    }
  }
}, {
	"default": {
		"default": {
			"default": {
				"default"   : [
          "Теперь кто главный~?",
          "Слышишь это~? Это моя задница, стукающаяся о твои бёдра~!",
          "Ооо, ДА~! Я не могу себя контролировать~!"
         ]
      },
      
      "female" : {
				"default"   : [
          "Теперь кто главный~?",
          "Слышишь это~? Это моя задница, стукающаяся о твои бёдра~!",
          "Ооо, ДА~! Я не могу себя контролировать~!"
         ]
      },
      
      "male" : {
				"default"   : [
          "Теперь кто главный~?",
          "Слышишь это~? Это моя задница, стукающаяся о твои бёдра~!",
          "Ооо, ДА~! Я не могу себя контролировать~!",
          "Я могу вместить гораздо больше сидя на тебе так~!"
         ],
        
        "climaxing" : [
          "О-ох~! Ты кончаешь~! Уфф, Ты заполнил меня всю изнутри~!"
        ]
      }
		}
	}
}]