{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "center",
      "positionLocked" : true
    },
    
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/sexbound/body.png",
      "fileFooter" : ""
    },
    
    "positions" : {
      "type" : "canvas",
      "rect" : [0, 0, 200, 200],
      "captureMouseEvents" : true
    }
  },

  "canvasClickCallbacks" : {
    "positions" : "canvasClickEvent"
  },
  
  "scriptWidgetCallbacks" : [
  
  ],
  
  "scripts" : [
    "/interface/sexbound/default.lua"
  ],
  
  "scriptDelta" : 1,
  
  "config" : {
    "debug" : false,
    
    "positionWidget" : {
      "backgroundImage" : "/interface/sexbound/positions/widget-background.png",
      "color" : [43,233,255,0],
      "colorButtons" : [255,255,255,0],
      "fadeInAlpha" : 240,
      "fadeInAlphaButtons" : 255
    },
    
    "buttons" : [
      {
        "name" : "Position 1",
        
        "image" : "/interface/sexbound/positions/position1-button.png",
        
        "imageOffset" : [-6, 2],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.1",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 1
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [102, 159],
          [102, 199],
          [139, 191],
          [169, 171],
          [140, 143],
          [123, 154]
        ]
      },
      {
        "name" : "Position 2",
        
        "image" : "/interface/sexbound/positions/position2-button.png",
        
        "imageOffset" : [1, -3],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.2",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 2
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [143, 140],
          [171, 169],
          [192, 137],
          [199, 102],
          [159, 102],
          [155, 122]
        ]
      },
      {
        "name" : "Position 3",
        
        "image" : "/interface/sexbound/positions/position3-button.png",
        
        "imageOffset" : [0, 4],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.3",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 3
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [143, 59],
          [171, 30],
          [192, 59],
          [199, 97],
          [159, 97],
          [155, 75]
        ]
      },
      {
        "name" : "Position 4",
        
        "image" : null,
        
        "imageOffset" : [-6, -2],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.4",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 4
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [140, 56],
          [169, 27],
          [139, 8],
          [102, 0],
          [102, 25],
          [109, 28],
          [115, 34],
          [116, 43],
          [129, 48]
        ]
      },
      {
        "name" : "Position 5",
        
        "image" : null,
        
        "imageOffset" : [6, -2],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.5",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 5
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [59, 56],
          [30, 27],
          [61, 8],
          [97, 0],
          [97, 25],
          [91, 27],
          [84, 34],
          [83, 43],
          [70, 48]
        ]
      },
      {
        "name" : "Position 6",
        
        "image" : null,
        
        "imageOffset" : [0, 4],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.6",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 6
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [40, 97],
          [1, 97],
          [9, 59],
          [27, 30],
          [56, 59],
          [45, 75]
        ]
      },
      {
        "name" : "Position 7",
        
        "image" : null,
        
        "imageOffset" : [0, -2],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.7",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 7
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [56, 140],
          [27, 169],
          [7, 137],
          [1, 102],
          [40, 102],
          [44, 121]
        ]
      },
      {
        "name" : "Position 8",
        
        "image" : null,
        
        "imageOffset" : [6, 2],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.8",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 8
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [97, 159],
          [97, 199],
          [59, 190],
          [30, 172],
          [59, 143],
          [76, 154]
        ]
      },
      {
        "name" : "Switch Role",
        
        "image" : "/interface/sexbound/switch-role-button.png",
        
        "imageOffset" : [0, 1],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:switch-role.1",
        
        "clickAction" : {
          "method" : "switchRole",
          "args" : {}
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [103, 29],
          [109, 32],
          [112, 38],
          [112, 45],
          [109, 51],
          [103, 54],
          [96, 54],
          [90, 51],
          [87, 45],
          [87, 38],
          [90, 32],
          [96, 29]
        ]
      }
    ]
  }
}