{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "center",
      "positionLocked" : true
    },
    
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/sexbound/positions/body.png",
      "fileFooter" : ""
    },
    
    "positions" : {
      "type" : "canvas",
      "rect" : [0, 0, 258, 258],
      "captureMouseEvents" : true,
      "zlevel" : 2
    },
    
    "climax" : {
      "type" : "canvas",
      "rect" : [0, 131, 258, 258],
      "zlevel" : 1
    }
  },

  "canvasClickCallbacks" : {
    "positions" : "clickEventPositions"
  },
  
  "scriptWidgetCallbacks" : [
  
  ],
  
  "scripts" : [
    "/interface/sexbound/default.lua"
  ],
  
  "scriptDelta" : 1,
  
  "config" : {
    "debug" : false,
    
    "climaxWidget" : {
      "backgroundImage" : "/interface/sexbound/climax/climax-widget-background.png",
      "coverImage" : "/interface/sexbound/climax/climax-widget-cover.png",
      
      "color" : [37,173,194,0],
      "coverColor" : [37,173,194,0],
      
      "fadeInAlpha" : 192,
      
      "coverColorFadeInAlpha" : 255,
      "progressBarColorFadeInAlpha" : 200,
      
      "progressBar" : [
        {
          "amount" : 0.0,
          "color"  : [243,243,243,0]
        },
        {
          "amount" : 0.0,
          "color"  : [243,243,243,0]
        }
      ],
      
      "progressBarImage" : "/interface/sexbound/climax/climax-progress.png",
      "progressBarMask" : "/interface/sexbound/climax/climax-progress-mask.png"
    },
    
    "positionsWidget" : {
      "backgroundImage" : "/interface/sexbound/positions/positions-widget-background.png",
      "color" : [37,173,194,0],
      "colorButtons" : [243,243,243,0],
      "fadeInAlpha" : 200,
      "fadeInAlphaButtons" : 255
    },
  
    "buttons" : [
      {
        "name" : "Position 1",
        
        "image" : null,
        
        "imageOffset" : [-6, 2],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.1",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 1
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [131, 188],
          [131, 228],
          [154, 225],
          [174, 218],
          [198, 201],
          [169, 172],
          [160, 179],
          [152, 183],
          [140, 187]
        ]
      },
      {
        "name" : "Position 2",
        
        "image" : null,
        
        "imageOffset" : [1, -3],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.2",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 2
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [172, 169],
          [201, 198],
          [214, 180],
          [221, 165],
          [227, 145],
          [228, 131],
          [188, 131],
          [187, 142],
          [184, 150],
          [179, 160]
        ]
      },
      {
        "name" : "Position 3",
        
        "image" : null,
        
        "imageOffset" : [0, 4],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.3",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 3
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [188, 126],
          [228, 126],
          [227, 112],
          [221, 91],
          [210, 71],
          [201, 59],
          [172, 88],
          [179, 97],
          [183, 105],
          [187, 115]
        ]
      },
      {
        "name" : "Position 4",
        
        "image" : null,
        
        "imageOffset" : [-6, -2],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.4",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 4
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [169, 85],
          [198, 56],
          [183, 45],
          [169, 37],
          [150 ,31],
          [131, 29],
          [131, 54],
          [137, 56],
          [143, 62],
          [145, 71],
          [157, 76]
        ]
      },
      {
        "name" : "Position 5",
        
        "image" : null,
        
        "imageOffset" : [6, -2],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.5",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 5
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [126, 54],
          [126, 29],
          [111, 30],
          [91, 36],
          [74, 45],
          [59, 56],
          [88, 85],
          [96, 78],
          [112, 72],
          [114, 62],
          [120, 56]
        ]
      },
      {
        "name" : "Position 6",
        
        "image" : null,
        
        "imageOffset" : [0, 4],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.6",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 6
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [85, 88],
          [56, 59],
          [47, 71],
          [37, 89],
          [31, 107],
          [29, 126],
          [69, 126],
          [70, 115],
          [74, 104],
          [79, 96]
        ]
      },
      {
        "name" : "Position 7",
        
        "image" : null,
        
        "imageOffset" : [0, -2],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.7",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 7
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [69, 131],
          [29, 131],
          [31, 150],
          [36, 166],
          [45, 184],
          [56, 198],
          [85, 169],
          [78, 160],
          [73, 151],
          [71, 145]
        ]
      },
      {
        "name" : "Position 8",
        
        "image" : null,
        
        "imageOffset" : [6, 2],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:position.8",
        
        "clickAction" : {
          "method" : "switchPosition",
          "args" : {
            "positionId" : 8
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [88, 172],
          [59, 201],
          [72, 211],
          [88, 220],
          [102, 225],
          [126, 228],
          [126, 188],
          [115, 187],
          [105, 183],
          [95, 178]
        ]
      },
      {
        "name" : "Switch Role",
        
        "image" : "/interface/sexbound/positions/switch-role-button.png",
        
        "imageOffset" : [0, 1],
        
        "hoverImage" : "/interface/sexbound/positions/button-hover.png:switch-role.1",
        
        "clickAction" : {
          "method" : "switchRole",
          "args" : {}
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [133, 58],
          [138, 61],
          [141, 66],
          [141, 75],
          [138, 80],
          [133, 83],
          [124, 83],
          [119 ,80],
          [116, 75],
          [116, 66],
          [119, 61],
          [124, 58]
        ]
      },
      {
        "name" : "Climax 1",
        
        "image" : null,
        
        "clickAction" : {
          "method" : "climax",
          "args" : {
            "actorId" : 1
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [2, 131],
          [26, 131],
          [29, 154],
          [34, 169],
          [42, 184],
          [51, 196],
          [61, 206],
          [73, 215],
          [88, 223],
          [107, 229],
          [126, 231],
          [126, 255],
          [103, 253],
          [74, 244],
          [53, 231],
          [39, 218],
          [29, 208],
          [15, 188],
          [4, 155]
        ]
      },
      
      {
        "name" : "Climax 2",
        
        "image" : null,
        
        "clickAction" : {
          "method" : "climax",
          "args" : {
            "actorId" : 2
          }
        },
        
        "clickSound" : "/sfx/interface/ship_confirm1.ogg",
        
        "poly" : [
          [255, 131],
          [231, 131],
          [228, 154],
          [223, 169],
          [215, 184],
          [206, 196],
          [196, 206],
          [184, 215],
          [169, 223],
          [150, 229],
          [131, 231],
          [131, 255],
          [154, 253],
          [183, 244],
          [204, 231],
          [218, 218],
          [228, 208],
          [242, 188],
          [253, 155]
        ]
      }
    ]
  }
}