[{
  "default" : {
    "default" : {
      "default" : {
        "default" : []
      }
    }
  }
}, {
	"default": {
		"default": {
      "female" : {
        "default" : [
          "Поставь меня на руки и на колени! И шлёпай меня по моей грязной заднице~! Mммм~!",
          "Ты меня трахаешь как-то плохо!~ Ты со всеми Апексами так~?",
          "Мне нравится что ты относишься ко мне как к дикому животному~!"
        ]
      },
      
      "male" : {
        "default" : [
          "Поставь меня на руки и на колени! И шлёпай меня по моей грязной заднице~! Mммм~!",
          "Ты меня трахаешь как-то плохо!~ Ты со всеми Апексами так~?",
          "Мне нравится что ты относишься ко мне как к дикому животному~!",
          "Пожалуйста, будь чуть легче! Я не привыкла что меня так сильно трахают~!"
        ],
        
        "climaxing" : [
          "Mмм~! Заполни меня своим липким семенем~!"
        ]
      }
		}
	}
}]