[{
  "default" : {
    "default" : {
      "default" : {
        "default" : []
      }
    }
  }
}, {
	"default": {
		"default": {
			"default": {
				"default": [
          "Поставь меня на колени и заставь кусать пол~!", 
          "Я нагнута и готова к проникновению~!", 
          "Mмм, продолжай~! Я тебе помогу~!",
          "Во мне и нет, Во мне и нет, продолжай умоляю~!"
        ]
			},
      
      "female" : {
        "default" : [
          "Поставь меня на колени и заставь кусать пол~!", 
          "Я нагнута и готова к проникновению~!", 
          "Mмм, продолжай~! Я тебе помогу~!"
        ]
      },
      
      "male" : {
        "default" : [
          "Поставь меня на колени и заставь кусать пол~!", 
          "Я нагнута и готова к проникновению~!", 
          "Mмм, продолжай~! Я тебе помогу~!",
          "Во мне и нет, Во мне и нет, продолжай умоляю~!"
        ],
        
        "climaxing" : [
          "О-ох~! Ты кончаешь~! Уфф, Ты заполнил меня всю изнутри~!"
        ]
      }
		}
	}
}]