{
  "plugins" : {
    "pregnant" : {
      "birthMessage1" : "Поздравляю! Вы только что родили ребёнка <babygender> по имени <babyname>!",
      
      "birthMessage2" : "<name> только что родила ребёнка <babygender> по имени <babyname>!",
    
      "impregnatedMessage1" : "Вы осеменили <name>, и она родит ребёнка через <daycount> день!",
      
      "impregnatedMessage2" : "Вы осеменили <name>, и она родит ребёнка через <daycount> дней!",
      
      "impregnatedMessage3" : "Упсс! Вы забеременели от <name>, и вы родите ребёнка через <daycount> день!",
      
      "impregnatedMessage4" : "Упсс! Вы зебеременели от <name>, и вы родите ребёнка через <daycount> дней!",
      
      "abortionMessage1" : "Все сканирования показывают что вы больше не беременны!"
    }
  }
}