{
  "plugins" : {
    "pregnant" : {
      "birthMessage1" : "Congratulations! You have just given birth to a baby <babygender> named <babyname>!",
      
      "birthMessage2" : "<name> has just given birth to a baby <babygender> named <babyname>!",
    
      "impregnatedMessage1" : "You just impregnated <name>, and she will give birth in <daycount> day!",
      
      "impregnatedMessage2" : "You just impregnated <name>, and she will give birth in <daycount> days!",
      
      "impregnatedMessage3" : "Oppsy! You were just impregnated by <name>, and you will give birth in <daycount> day!",
      
      "impregnatedMessage4" : "Oppsy! You were just impregnated by <name>, and you will give birth in <daycount> days!",
      
      "abortionMessage1" : "All vital scans indicate that you are no longer pregnant!"
    }
  }
}