{
  "position1" : {
    "default" : {
      "default" : [
        "<actor2Name> : You've got me from behind, I wonder how long you'll go at it~!",
        "<actor2Name> : Ooh, I'm so horny all of the sudden~! Keep going~!",
        "<actor2Name> : My rump hurts from all this pounding~!",
        "<actor2Name> : Grab my hips and plow me~!"
      ],
      
      "default_pregnant" : [
        "<actor2Name> : E-easy~! Baby-on-board!"
      ],
      
      "apex" : [
        "<actor2Name> : Big Ape probably doesn't want to watch this~!",
        "<actor2Name> : Do you like my fur? Would you like it more if your cum coated it~?",
        "<actor2Name> : I can't help but swivel my tail, your cock is too good~!",
        "<actor2Name> : You're brutal~! Look at my hole fidget~!",
        "<actor2Name> : Oooh~! I think I much prefer this over bananas~!"
      ],
      
      "avian" : [
        "<actor2Name> : Pull my tail feathers~! Don't let go~!",
        "<actor2Name> : Sweet Kluex, your prick is so good~!"
      ],
      
      "hylotl" : [
        "<actor2Name> : What magnificent poise you demonstrate pumping into me~!",
        "<actor2Name> : You're pulling me so tight~! Dig your nails into my scales, lover~!"
      ]
    },
    
    "floran" : {
      "hylotl" : [
        "<actor2Name> : Uunf. How uncouth your barbaric thrusts, yet oh so pleasurable. Mmnh~!"
      ]
    },
    
    "human" : {
      "apex" : [
        "<actor2Name> : Don't tantalize me with bananas! Shove yours inside me! Faster~!"
      ],
    
      "avian" : [
        "<actor2Name> : Do you enjoy the bounty Kluex as laid upon me~? Tear up my bird-hole~!"
      ]
    },
    
    "hylotl" : {
      "floran" : [
        "<actor2Name> : Fisssh hasss pounced me. Feels ssso good, but ssso wrong~!"
      ]
    }
  },
  
  "position2" : {
    "default" : {
      "default" : [
        "<actor2Name> : Bend me over and make me eat the floor~!",
        "<actor2Name> : My ass is raised and ready to be violated~!",
        "<actor2Name> : Mmnf, keeping going~! I'll push back~!",
        "<actor2Name> : In and out, in and out, fuckmefuckmefuckme~!"
      ],
      
      "default_pregnant" : [
        "<actor2Name> : Force me on my hands and knees and ride your pregnant bitch's ass~!"
      ],
      
      "apex" : [
        "<actor2Name> : Keep me down here on my hands and knees! Slam my damn dirty ass~! Mmhhn~!",
        "<actor2Name> : You're fucking me raw!~ Do you treat all Apex this way~?",
        "<actor2Name> : Please, try to go easy on me! I'm not used to having my ass fucked so savagely~!",
        "<actor2Name> : I love how you treat me like a wild animal~!"
      ]
    }
  },
  
  "position3" : {
    "default" : {
      "default" : [
        "<actor2Name> : Now who's in control~?",
        "<actor2Name> : Hear that~? That's my ass slapping against your thighs~!",
        "<actor2Name> : I can fit so much more in sitting on you like this~!",
        "<actor2Name> : Uunf, oh yeah~! I can't help myself~!"
      ],
      
      "apex" : [
        "<actor2Name> : Sit back and let me do all the work~! You won't fret over Apex endurance~!"
      ],
      
      "default_pregnant" : [
        "<actor2Name> : Mmh~ Watch me spank my pregnant ass to your thighs~!"
      ]
    }
  },
  
  "climax" : {
    "default" : {
      "default" : [
        "<actor2Name> : O-oh~! You're cumming~! Unng, paint my insides with your thick spunk~!"
      ],
      
      "default_pregnant" : [
        "<actor2Name> : Mmh~! Fill me up a second time~! I can't get pregnant again~!"
      ],
      
      "apex" : [
        "<actor2Name> : Mmh~! Fill my needy primate hole with your worthy seed~!"
      ],
      
      "avian" : [
        "<actor2Name> : Kluex above, yes~! Fuck my hole and fill it to the brim with your glorious sperm~!"
      ],
      
      "fenerox" : [
        "<actor2Name> : C-content! Very warm. Insides full. Thank you."
      ],
      
      "floran" : [
        "<actor2Name> : Yesss~! Ssspray your yummy pollen all up inssside~!"
      ],
      
      "glitch" : [
        "<actor2Name> : Lecherous. Cover my circuits with your genetic code~!"
      ],
      
      "human" : [
        "<actor2Name> : Mmh~! Plug me full and fill me up with your baby-batter~!"
      ],
      
      "hylotl" : [
        "<actor2Name> : Unng, tear into my scales, and inseminate my eggs, lover~!"
      ],
      
      "novakid" : [
        "<actor2Name> : Yee-haw~! Plant some seeds in my field pard'ner~! Let's create a spark of life~!"
      ]
    }
  }
}