{
  "position1" : [
    {
      "default" : {
        "default" : {
          "default" : {
            "default" : {
              "default" : []
            },
            
            "female" : {
              "default" : []
            },
            
            "male" : {
              "default" : []
            }
          }
        },
       
        "male" : {
          "default" : {
            "default" : {
              "default" : []
            },
          
            "female" : {
              "default" : []
            },
          
            "male" : {
              "default" : []
            }
          }
        },
        
        "female" : {
          "default" : {
            "default" : {
              "default" : []
            },
          
            "female" : {
              "default" : []
            },
          
            "male" : {
              "default" : []
            }
          }
        }
      }
    },
    
    {
      "default" : {
        "default" : {
          "default" : {
            "default" : {
              "default" : [
                "You've got me from behind, I wonder how long you'll go at it~!",
                "Ooh, I'm so horny all of the sudden~! Keep going~!",
                "My rump hurts from all this pounding~!",
                "Grab my hips and plow me~!"
              ],
              
              "pregnant" : [
                "E-easy~! Baby-on-board!"
              ]
            },
            
            "female" : {
              "default" : []
            },
            
            "male" : {
              "default" : []
            }
          }
        },
       
        "male" : {
          "default" : {
            "default" : {
              "default" : []
            },
          
            "female" : {
              "default" : []
            },
          
            "male" : {
              "default" : []
            }
          }
        },
        
        "female" : {
          "default" : {
            "default" : {
              "default" : []
            },
          
            "female" : {
              "default" : []
            },
          
            "male" : {
              "default" : []
            }
          }
        }
      },
      
      "apex" : {
        "default" : {
          "default" : {
            "default" : {
              "default" : [
                "Big Ape probably doesn't want to watch this~!",
                "You're brutal~! Look at my hole fidget~!"
              ]
            },
            
            "male" : {
              "default" : [
                "Do you like my fur? Would you like it more if your cum coated it~?",
                "I can't help but swivel my tail, your cock is too good~!",
                "Oooh~! I think I much prefer this over bananas~!"
              ]
            }
          },
          
          "human" : {
            "default" : {
              "default" : [
                "Don't tantalize me with bananas! Shove yours inside me! Faster~!"
              ]
            }
          }
        }
      },
      
      "avian" : {
        "default" : {
          "default" : {
            "default" : {
              "default" : [
                "Pull my tail feathers~! Don't let go~!"
              ]
            },
          
            "male" : {
              "default" : [
                "Sweet Kluex, your prick is so good~!"
              ]
            }
          }
        },
        
        "human" : {
          "male" : {
            "default" : [
              "Do you enjoy the bounty Kluex as laid upon me~? Tear up my bird-hole~!"
            ]
          }
        }
      },
      
      "hylotl" : {
        "default" : {
          "default" : {
            "default" : {
              "default" : [
                "You're pulling me so tight~! Dig your nails into my scales, lover~!"
              ]
            },
            
            "male" : {
              "default" : [
                "What magnificent poise you demonstrate pumping into me~!"
              ]
            }
          },
          
          "floran" : {
            "default" : {
              "default" : [
                "Uunf. How uncouth your barbaric thrusts, yet oh so pleasurable. Mmnh~!"
              ]
            }
          }
        }
      },
      
      "floran" : {
        "default" : {
          "hylotl" : {
            "default" : {
              "default" : [
                "Fisssh hasss pounced me. Feels ssso good, but ssso wrong~!"
              ]
            }
          }
        }
      }
    }
  ],
  
  "position2" : [
    {

    },
    
    {
      "default" : {
        "default" : {
          "default" : {
            "default" : {
              "default" : [
                "Bend me over and make me eat the floor~!",
                "My ass is raised and ready to be violated~!",
                "Mmnf, keeping going~! I'll push back~!"
              ],
              
              "pregnant" : [
                "Force me on my hands and knees and ride your pregnant bitch's ass~!"
              ]
            },
            
            "male" : {
              "default" : [
                "In and out, in and out, fuckmefuckmefuckme~!"
              ]
            }
          }
        }
      },
      
      "apex" : {
        "default" : {
          "default" : {
            "default" : {
              "default" : [
                "Keep me down here on my hands and knees! Slam my damn dirty ass~! Mmhhn~!",
                "You're fucking me raw!~ Do you treat all Apex this way~?",
                "Please, try to go easy on me! I'm not used to having my ass fucked so savagely~!",
                "I love how you treat me like a wild animal~!"
              ]
            }
          }
        }
      }
    }
  ],
  
  "position3" : [
    {

    },
    
    {
      "default" : {
        "default" : {
          "default" : {
            "default" : {
              "default" : [
                "Now who's in control~?",
                "Hear that~? That's my ass slapping against your thighs~!",
                "Uunf, oh yeah~! I can't help myself~!"
              ],
              
              "pregnant" : [
                "Mmh~ Watch me spank my pregnant ass to your thighs~!"
              ]
            },
            
            "male" : {
              "default" : [
                "I can fit so much more in sitting on you like this~!"
              ]
            }
          }
        }
      },
      
      "apex" : {
        "default" : {
          "default" : {
            "default" : {
              "default" : [
                "Sit back and let me do all the work~! You won't fret over Apex endurance~!"
              ]
            }
          }
        }
      }
    }
  ]
}