{
  "name" : "Idle",
  
  "dialog" : {
    "default" : "/positions/idle/dialog/<langcode>/default<gender>.config",
    "apex"    : "/positions/idle/dialog/<langcode>/apex<gender>.config",
    "avian"   : "/positions/idle/dialog/<langcode>/avian<gender>.config",
    "fenerox" : "/positions/idle/dialog/<langcode>/fenerox<gender>.config",
    "floran"  : "/positions/idle/dialog/<langcode>/floran<gender>.config",
    "glitch"  : "/positions/idle/dialog/<langcode>/glitch<gender>.config",
    "human"   : "/positions/idle/dialog/<langcode>/human<gender>.config",
    "hylotl"  : "/positions/idle/dialog/<langcode>/hylotl<gender>.config",
    "novakid" : "/positions/idle/dialog/<langcode>/novakid<gender>.config"
  },
  
  "animationState" : "idle",
  "climaxAnimationState" : null,
  "resetAnimationState" : null,
  
  "pleasureMultiplier" : [1, 1],
  
  "maxAllowedActors" : 2,
  
  "possiblePregnancy" : [false, false],
  
  "flipBody" : [false, false],
  "flipHead" : [false, false],
  
  "minTempo" : 1,
  "maxTempo" : 1,

  "sustainedInterval" : 1
}