{
  "name" : "Cowgirl",
  
  "dialog" : {
    "default" : "/positions/cowgirl/dialog/<langcode>/default<gender>.config",
    "apex"    : "/positions/cowgirl/dialog/<langcode>/apex<gender>.config",
    "avian"   : "/positions/cowgirl/dialog/<langcode>/avian<gender>.config",
    "fenerox" : "/positions/cowgirl/dialog/<langcode>/fenerox<gender>.config",
    "floran"  : "/positions/cowgirl/dialog/<langcode>/floran<gender>.config",
    "glitch"  : "/positions/cowgirl/dialog/<langcode>/glitch<gender>.config",
    "human"   : "/positions/cowgirl/dialog/<langcode>/human<gender>.config",
    "hylotl"  : "/positions/cowgirl/dialog/<langcode>/hylotl<gender>.config",
    "novakid" : "/positions/cowgirl/dialog/<langcode>/novakid<gender>.config"
  },
  
  "allowClimax" : true,
  "allowMoan"   : true,
  "allowEmote"  : true,
  
  "animationState"       : "position3",
  "climaxAnimationState" : "position3-climax",
  "resetAnimationState"  : "position3-reset",
  
  "climaxParticles" : [
    {
      "male"   : "malecum1_1",
      "female" : "femalecum1_1"
    },
    
    {
      "male"   : "malecum1_2",
      "female" : "femalecum1_2"
    }
  ],
  
  "climaxMultiplier" : [2.0, 2.0],
  
  "maxAllowedActors" : 2,
  
  "rotateHead"   : [1.5708, 0],
  
  "possiblePregnancy" : [false, true],
  
  "flipBody" : [false, false],
  "flipHead" : [false,  true],
  
  "minTempo" : 2,
  "maxTempo" : [3, 5],

  "sustainedInterval" : [20, 30]
}