[{}, {
	"default": {
		"default": {      
      "male" : {
        "default" : [
          "Sweet Kluex, your prick is so good~!"
        ],
        
        "climax" : [
          "Kluex above, yes~! Fuck my hole and fill it to the brim with your glorious sperm~!"
        ]
      },
      
      "female" : {
        "default" : [
          "Grab my hips and plow me~!"
        ]
      }
		},
    
    "human" : {
      "male" : {
        "default" : [
          "Do you enjoy the bounty Kluex as laid upon me~? Tear up my bird-hole~!"
        ]
      }
    }
	}
}]