[{}, {
	"default": {
		"default": {
			"female": {
				"default": [
          "Pull my tail feathers~! Don't let go~!",
          "Sweet Kluex, your prick is so good~!"
        ]
			},
      
      "male" : {
        "default" : [
          "Pull my tail feathers~! Don't let go~!",
          "Sweet Kluex, your prick is so good~!"
        ],
        
        "climaxing" : [
          "Kluex above, yes~! Fuck my hole and fill it to the brim with your glorious sperm~!"
        ]
      }
		},
    
    "human" : {
      "male" : {
        "default" : [
          "Do you enjoy the bounty Kluex as laid upon me~? Tear up my bird-hole~!"
        ]
      }
    }
	}
}]