[{}, {
	"default": {
		"default": {
			"female": {
				"default": [
          "What magnificent poise you demonstrate pumping into me~!",
          "You're pulling me so tight~! Dig your nails into my scales, lover~!"
        ]
			},
      
      "male" : {
        "default" : [
          "What magnificent poise you demonstrate pumping into me~!",
          "You're pulling me so tight~! Dig your nails into my scales, lover~!"
        ],
        
        "climaxing" : [
          "Unng, tear into my scales, and inseminate my eggs, lover~!"
        ]
      }
		},
    
    "floran" : {
      "male" : {
        "default" : [
          "Uunf. How uncouth your barbaric thrusts, yet oh so pleasurable. Mmnh~!"
        ]
      }
    }
	}
}]