[{}, {
	"default": {
    "default" : {
      "male" : {
        "climaxing" : [
          "Yesss~! Ssspray your yummy pollen all up inssside~!"
        ]
      }
    },
    
    "hylotl" : {
      "female" : {
        "default" : [
          "Fisssh hasss pounced me. Feels ssso good, but ssso wrong~!"
        ]
      },
    
      "male" : {
        "default" : [
          "Fisssh hasss pounced me. Feels ssso good, but ssso wrong~!"
        ]
      }
    }
	}
}]