[{
  "default" : {
    "default" : {
      "default" : {
        "default" : [
        
        ]
      }
    }
  }
}, {
	"default": {
		"default": {
			"default": {
				"default"   : [
          "Now who's in control~?",
          "Hear that~? That's my ass slapping against your thighs~!",
          "Uunf, oh yeah~! I can't help myself~!"
        ]
      },
      
      "female" : {
				"default"   : [
          "Now who's in control~?",
          "Hear that~? That's my ass slapping against your thighs~!",
          "Uunf, oh yeah~! I can't help myself~!"
        ]
      },
      
      "male" : {
				"default"   : [
          "Now who's in control~?",
          "Hear that~? That's my ass slapping against your thighs~!",
          "Uunf, oh yeah~! I can't help myself~!",
          "I can fit so much more in sitting on you like this~!"
        ],
        
        "climaxing" : [
          "O-oh~! You're cumming~! Unng, paint my insides with your thick spunk~!"
        ]
      }
		}
	},
  
  "pregnant" : {
    "default" : {
      "default" : {
        "default" : [
          "Mmh~ Watch me spank my pregnant ass to your thighs~!"
        ]
      },
      
      "female" : {
        "default" : [
          "Mmh~ Watch me spank my pregnant ass to your thighs~!"
        ]
      },
      
      "male" : {
        "default" : [
          "Mmh~ Watch me spank my pregnant ass to your thighs~!"
        ],
        
        "climaxing" : [
          "Mmh~! Fill me up a second time~! I can't get pregnant again~!"
        ]
      }
    }
  }
}]