{
  "name" : "From Behind",
  
  "dialog" : {
    "default" : "/positions/from_behind/dialog/<langcode>/default<gender>.config",
    "apex"    : "/positions/from_behind/dialog/<langcode>/apex<gender>.config",
    "avian"   : "/positions/from_behind/dialog/<langcode>/avian<gender>.config",
    "fenerox" : "/positions/from_behind/dialog/<langcode>/fenerox<gender>.config",
    "floran"  : "/positions/from_behind/dialog/<langcode>/floran<gender>.config",
    "glitch"  : "/positions/from_behind/dialog/<langcode>/glitch<gender>.config",
    "human"   : "/positions/from_behind/dialog/<langcode>/human<gender>.config",
    "hylotl"  : "/positions/from_behind/dialog/<langcode>/hylotl<gender>.config",
    "novakid" : "/positions/from_behind/dialog/<langcode>/novakid<gender>.config"
  },
  
  "allowClimax" : true,
  "allowMoan"   : true,
  "allowEmote"  : true,
  
  "animationState"       : "position1",
  
  "climaxAnimationState" : "position1-climax",
  
  "resetAnimationState"  : "position1-reset",
  
  "climaxParticles" : [
    {
      "male"   : "malecum1_1",
      "female" : "femalecum1_1"
    },
    
    {
      "male"   : "malecum1_2",
      "female" : "femalecum1_2"
    }
  ],
  
  "climaxMultiplier" : [1.25, 1.25],
  
  "maxAllowedActors" : 2,
  
  "possiblePregnancy" : [false, true],
  
  "flipBody" : [false, false],
  "flipHead" : [false, false],
  
  "minTempo" : 2,
  
  "maxTempo" : [3, 5],
  
  "sustainedInterval" : [20, 30]
}