[{}, {
	"default": {
		"default": {
			"female": {
				"default": [
          "Большой Эйп вряд ли захочет смотреть на это~!",
          "Ты груб~! Посмотри что ты сделал с моей дырочкой~!",
          "Нравится мой мех? Захочешь ли ты всё ещё лапать его когда кончишь на него~?",
          "Я даже не могу пошевелить хвостом, твой член так хорош~!",
          "Oоох~! Я думаю это гораздо лучше бананов~!"
        ]
			},
      
      "male" : {
        "default" : [
          "Большой Эйп вряд ли захочет смотреть на это~!",
          "Ты груб~! Посмотри что ты сделал с моей дырочкой~!",
          "Нравится мой мех? Захочешь ли ты всё ещё лапать его когда кончишь на него~?",
          "Я даже не могу пошевелить хвостом, твой член так хорош~!",
          "Oоох~! Я думаю это гораздо лучше бананов~!"
        ],
        
        "climaxing" : [
          "Mмм~! Заполни меня своим липким семенем~!"
        ]
      }
		},
    
    "human" : {
      "male" : {
        "default" : [
          "Не мучай меня бананами! Трахни! Быстрей~!"
        ]
      }
    }
	}
}]