[{}, {
	"default": {
		"default": {
			"female": {
				"default": [
          "Хватай меня за хвостовые перья~! И не отпускай~!",
          "Святой Клюэкс, ты так хорош~!"
        ]
			},
      
      "male" : {
        "default" : [
          "Хватай меня за хвостовые перья~! И не отпускай~!",
          "Святой Клюэкс, ты так хорош~!"
        ],
        
        "climaxing" : [
          "Клюэкс велик~! Заполни меня всю своей прекрасной спермой~!"
        ]
      }
		},
    
    "human" : {
      "male" : {
        "default" : [
          "Прийми всю благодать Клюэкса~! И натяни мою птичью дырку ~!"
        ]
      }
    }
	}
}]