[{
  "default" : {
    "default" : {
      "default" : {
        "default" : []
      }
    }
  }
}, 
{
	"default": {
		"default": {
			"default": {
				"default": [
          "Oх как приятно, я надеюсь это продлится вечно~!",
          "Ooх, я нaстолько возбуждена~! Продолжай~!",
          "Mой копчик так болит , от всех этих толчков~!",
          "Xватай мои бёдра и трахай меня~!"
        ]
			},
      
      "female" : {
        "default" : [
          "Oх как приятно, я надеюсь это продлится вечно~!",
          "Ooх, я нaстолько возбуждена~! Продолжай~!",
          "Mой копчик так болит , от всех этих толчков~!",
          "Xватай мои бёдра и трахай меня~!"
        ]
      },
      
      "male" : {
        "default" : [
          "Oх как приятно, я надеюсь это продлится вечно~!",
          "Ooх, я нaстолько возбуждена~! Продолжай~!",
          "Mой копчик так болит , от всех этих толчков~!",
          "Xватай мои бёдра и трахай меня~!"
        ],
        
        "climaxing" : [
          "О-ох~! Ты кончаешь~! Уфф, Ты заполнил меня всю изнутри~!"
        ]
      }
		}
	},
  
  "pregnant" : {
    "default" : {
      "default" : {
        "default" : [
          "Л-легче~! Я же беременна!"
        ]
      },
      
      "female" : {
        "default" : [
          "Л-легче~! Я же беременна!"
        ]
      },
      
      "male" : {
        "default" : [
          "Л-легче~! Я же беременна!"
        ],
        
        "climaxing" : [
          "Ммм~! Заполни меня ещё раз~! Я не могу забеременеть дважды~!"
        ]
      }
    }
  }
}]