[{}, {
	"default": {
    "default" : {
      "male" : {
        "climaxing" : [
          "Прекрасссно~! Распыли свою прекрасссную пыльцу~!"
        ]
      }
    },
    
    "hylotl" : {
      "female" : {
        "default" : [
          "Рыба набросссиласссь на меня. Так приятно, но так неправильно~!"
        ]
      },
      
      "male" : {
        "default" : [
          "Рыба набросссиласссь на меня. Так приятно, но так неправильно~!"
        ]
      }
    }
	}
}]